__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
venv.bak/
env.bak/
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.log
*.pot
*.pyc
*.pyo
.DS_Store
Thumbs.db
*.egg-info/
dist/
build/
*.spec
*.sqlite3
bin/
*.exe
*.dll
.env
.env.*
*.tmp
*.swp
*~